<ion-content>
  <!-- Begin: App -->

  <div id="app">

    <!-- Begin: Header -->

    <header class="heading">
      <section>
        <div>
          <div>
            <h1><a href="drafts">Drafts</a> <i class="fas fa-angle-right"></i> Baseball Bet</h1>
          </div>
        </div>
        <div>
                <span class="close">
                    <a href="drafts"><i class="fas fa-times"></i></a>
                </span>
        </div>
      </section>
    </header>

    <!--   End: Header -->
    <!-- Begin: Main -->

    <main>
      <section id="edit">
        <div>
          <form>
            <fieldset>
              <h4>Draft Info</h4>
              <p>
                <label for="name">Draft Name</label>
                <input [(ngModel)]="draft_name" id="name" type="text" placeholder="Enter text" disabled="disabled" name="name">

              </p>
              <p>
                <label for="text">Draft Text</label>
                <textarea [(ngModel)]="draft_text" id="text" disabled="disabled" name="text"></textarea>
              </p>
<!--
              <h4>Betting Parties</h4>
              <p>
                <label for="b1">Better 1</label>
                <input id="b1" type="text" placeholder="Better 1" disabled="disabled">
              </p>
              <p>
                <label for="b2">Better 2</label>
                <input id="b2" type="text" placeholder="Better 2" disabled="disabled">
              </p>
              <h4>Fact Finder</h4>
              <p>
                <label for="fact">Fact Source</label>
                <input id="fact" type="text" name="fact" placeholder="Fact Finder" value="Yahoo Sports Feed" disabled="disabled">
              </p>
-->
            </fieldset>
          </form>
        </div>
      </section>
    </main>

    <!--   End: Main -->

    <footer>
      <section>
        <nav id="action">
          <ul>
            <li class="edit">
              <a href="edit-draft">
                <span><i class="fas fa-pencil-alt"></i></span>
                <span>Edit</span>
              </a>
            </li>
            <li class="delete">
              <a href="edit-draft">
                <span><i class="fas fa-trash-alt"></i></span>
                <span>Delete</span>
              </a>
            </li>
            <li class="new">
              <a href="edit-draft">
                <span><i class="far fa-user"></i></span>
                <span>Propose</span>
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </footer>

  </div>

  <!--   End: App -->

</ion-content>
