<ion-content>
  <!-- Begin: App -->

  <div id="app">

    <!-- Begin: Header -->

    <header [hidden]="viewMode != 1">

      <section id="top">
        <div>
          <section>
            <nav>
              <ul>
                <li><a href="menu" class="js-mobile-menu"><i class="fas fa-bars"></i></a></li>
                <li><a href="dashboard"><i class="fas fa-home"></i></a></li>
              </ul>
            </nav>
          </section>
        </div>
        <div>
          <div>
            <img src="./assets/images/logo.png" alt="Atticus" style="height: 2rem;">
          </div>
        </div>
        <div>
          <section>
            <nav>
              <ul>
                <li><a href="notifications"><i class="far fa-envelope"></i></a></li>
                <li><a href="settings"><i class="fas fa-cog"></i></a></li>
              </ul>
            </nav>
          </section>
        </div>
      </section>

      <section>
        <nav id="main">
          <ul>
            <li>
              <a href="templates">
                <span>{{account.templates.length}}</span>
                <span><i class="fas fa-file-alt"></i></span>
                <span>Templates</span>
              </a>
            </li>
            <li>
              <a href="drafts" class="active">
                <span>{{account.drafts.length}}</span>
                <span><i class="fas fa-file"></i></span>
                <span>Drafts</span>
              </a>
            </li>
            <li>
              <a href="proposals">
                <span>0</span>
                <span><i class="far fa-file"></i></span>
                <span>Proposals</span>
              </a>
            </li>
            <li>
              <a href="contracts">
                <span>0</span>
                <span><i class="far fa-file-alt"></i></span>
                <span>Contracts</span>
              </a>
            </li>
          </ul>
        </nav>
      </section>

    </header>

    <header class="heading" [hidden]="viewMode != 4">
      <section>
        <div>
          <div>
            <h1><a href="drafts">Drafts</a> <i class="fas fa-angle-right"></i> New Draft</h1>
          </div>
        </div>
        <div>
          <span class="close">
              <a href="drafts"><i class="fas fa-times"></i></a>
          </span>
        </div>
      </section>
    </header>

    <header class="heading" [hidden]="viewMode != 2">
      <section>
        <div>
          <div>
            <h1><a href="drafts">Drafts</a> <i class="fas fa-angle-right"></i> {{currentDraft.memo}}</h1>
          </div>
        </div>
        <div>
          <span class="close">
              <a href="drafts"><i class="fas fa-times"></i></a>
          </span>
        </div>
      </section>
    </header>

    <header class="heading" [hidden]="viewMode != 3">
      <section>
        <div>
          <div>
            <h1><a href="drafts">Drafts</a> <i class="fas fa-angle-right"></i> Baseball Bet</h1>
          </div>
        </div>
        <div>
          <span class="close">
              <a href="drafts"><i class="fas fa-times"></i></a>
          </span>
        </div>
      </section>
    </header>

    <!--   End: Header -->
    <!-- Begin: Main -->

    <main>

      <!-- Begin: Intro -->

      <section id="drafts" class="list stack" [hidden]="viewMode != 1">
        <div>
          <div id="accordion">
            <div class="tab" *ngFor="let draft of drafts; let i = index" [attr.data-index]="i">
              <h3><a href="drafts"><i class="fas fa-file"></i> {{ draft.memo }}</a></h3>
            </div>
          </div>
        </div>
      </section>

      <section id="edit" [hidden]="viewMode == 1">
        <div>
          <form>
            <fieldset>
              <h4>Draft Info</h4>
              <p>
                <label for="name">Draft Name</label>
                <input [(ngModel)]="currentDraft.memo" id="name" type="text" placeholder="Enter text" [disabled]="viewMode != 3 && viewMode != 4" name="name">
              </p>
              <p>
                <label for="text">Draft Text</label>
                <textarea [(ngModel)]="currentDraft.body" id="text" [disabled]="viewMode != 3 && viewMode != 4" name="text"></textarea>
              </p>
            </fieldset>
          </form>
        </div>
      </section>

    </main>

    <!--   End: Main -->
    <!-- Begin: Footer -->

    <footer>
      <section>
        <nav id="action">
          <ul [hidden]="viewMode != 1">
            <li class="new">
              <button (click)="viewMode = 4" class="active">
                <span><i class="fas fa-plus"></i></span>
                <span>New</span>
              </button>
            </li>
          </ul>

          <ul [hidden]="viewMode != 4">
            <li class="delete">
              <button (click)="viewMode = 1">
                <span><i class="fas fa-times"></i></span>
                <span>Cancel</span>
              </button>
            </li>
            <li class="save">
              <button (click)="saveNew()">
                <span><i class="fas fa-save"></i></span>
                <span>Save</span>
              </button>
            </li>
          </ul>

          <ul [hidden]="viewMode != 3">
            <li class="save">
              <button (click)="save()">
                <span><i class="fas fa-save"></i></span>
                <span>Save</span>
              </button>
            </li>
            <li class="delete">
              <a href="drafts-delete">
                <span><i class="fas fa-trash-alt"></i></span>
                <span>Delete</span>
              </a>
            </li>
            <li class="new">
              <a href="drafts-invite">
                <span><i class="far fa-user"></i></span>
                <span>Propose</span>
              </a>
            </li>
          </ul>

          <ul [hidden]="viewMode != 2">
            <li class="edit">
              <button (click)="viewMode = 3">
                <span><i class="fas fa-pencil-alt"></i></span>
                <span>Edit</span>
              </button>
            </li>
            <li class="delete">
              <a href="drafts-delete">
                <span><i class="fas fa-trash-alt"></i></span>
                <span>Delete</span>
              </a>
            </li>
            <li class="new">
              <a href="drafts-invite">
                <span><i class="far fa-user"></i></span>
                <span>Propose</span>
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </footer>


    <div id="modal" class="alert" [hidden]="viewMode != 5">
      <section>
        <div>
          <div>
            <h1>Saved Successfully!</h1>
            <p>{{currentDraft.memo}}</p>
          </div>
          <section>
            <nav id="action">
              <ul>
                <li class="new">
                  <button (click)="viewMode = 1">
                    <span><i class="fas fa-check"></i></span>
                    <span>OK &amp; Exit</span>
                  </button>
                </li>
                <li class="new">
                  <button (click)="viewMode = 6">
                    <span><i class="far fa-user"></i></span>
                    <span>OK &amp; Propose</span>
                  </button>
                </li>
              </ul>
            </nav>
          </section>
        </div>
      </section>
    </div>

    <div id="modal" class="alert" [hidden]="viewMode != 6">

      <form>
        <div>
          <div>
            <h1>Send Invitation</h1>
            <p>Invite to: Baseball Bet v6</p>
          </div>
          <section>
            <div>
              <fieldset>
                <h4>User Info</h4>
                <p>
                  <label for="user">User Name or Email</label>
                  <input [(ngModel)]="sendTo" id="user" type="text" placeholder="" value="" name="user">
                </p>
                <h4>Is This Proposal Negotiable?</h4>
                <p class="onoffswitch">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                  <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                  </label>
                </p>
                <nav id="action">
                  <ul>
                    <li class="ok">
                      <button (click)="viewMode = 1">
                        <span><i class="fas fa-check"></i></span>
                        <span>Save &amp; Exit</span>
                      </button>
                    </li>
                    <li class="propose">
                      <button (click)="sendProposal()">
                        <span><i class="fas fa-paper-plane"></i></span>
                        <span>Save &amp; Send</span>
                      </button>
                    </li>
                  </ul>
                </nav>
              </fieldset>
            </div>
          </section>
        </div>
      </form>
    </div>

    <!--   End: Footer -->

  </div>

  <!--   End: App -->

</ion-content>
