<ion-content>
  <!-- Begin: App -->

  <div id="app">

    <!-- Begin: Main -->

    <main id="intro">

      <section>
        <div>
          <div>
            <img src="./assets/images/logo-white.png">
            <h1>Atticus</h1>
            <h3>Business is Contract.<br>
              Contract is Business.</h3>
          </div>
        </div>
      </section>

    </main>

    <!--   End: Main -->

    <footer>
      <section>
        <nav id="action">
          <ul>
            <li class="new">
              <a href="login" class="active">
                <span><i class="fas fa-sign-in-alt"></i></span>
                <span>Sign In</span>
              </a>
            </li>
            <li class="new">
              <a href="signup-step-1" class="active">
                <span><i class="fas fa-user-plus"></i></span>
                <span>Sign Up</span>
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </footer>

  </div>

  <!--   End: App -->
</ion-content>
