<ion-content>
  <!-- Begin: App -->

  <div id="app">

    <!-- Begin: Main -->

    <main id="intro">

      <section>
        <div>
          <div>
            <img src="./assets/images/logo-white.png">
            <h1>Atticus</h1>
            <h3>Business is Contract.<br>
              Contract is Business.</h3>
          </div>
        </div>
      </section>

    </main>

    <!--   End: Main -->

    <footer>
      <section>
        <nav class="action">
          <ul>
            <li class="g">
              <a href="login" class="active">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                    <g class="c">
                      <circle cx="40" cy="40" r="29.5"/>
                    </g>
                    <g class="i">
                      <path class="l" d="M44.95,25h6.22c1.72,0,3.11,1.39,3.11,3.11v21.78c0,1.72-1.39,3.11-3.11,3.11h-6.22"/>
                      <polyline class="l" points="36.4,46.55 44.18,38.77 36.4,30.99"/>
                      <line class="l" x1="43.89" y1="38.77" x2="25.22" y2="38.77"/>
                    </g>
                  </svg>
                </span>
                <span>Sign In</span>
              </a>
            </li>
            <li class="p">
              <a href="signup" class="active">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                    <g class="c">
                      <circle cx="40" cy="40" r="29.5"/>
                    </g>
                    <g class="i">
                      <path class="l" d="M51.22,53.96v-3.32c0-3.66-2.97-6.63-6.63-6.63h-9.95C30.97,44,28,46.97,28,50.64v3.32"/>
                      <circle class="l" cx="39.66" cy="32.59" r="6.63"/>
                    </g>
                  </svg>
                </span>
                <span>Sign Up</span>
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </footer>

  </div>

  <!--   End: App -->
</ion-content>
