<ion-content>
  <!-- Begin: App -->

  <div id="app">

    <!-- Begin: Main -->

    <main id="intro">

      <section>
        <div>
          <div>
            <img src="./assets/images/logo-white.png">
            <h1>Atticus</h1>

          </div>
        </div>
      </section>

    </main>


    <div id="modal" class="alert">
      <form id="start">
        <div>
          <section>
            <fieldset>
              <h4>Sign In Information</h4>
              <p>
                <label for="email">Email</label>
                <input [(ngModel)]="account.auth.email" id="email" type="email" name="email">

              </p>
              <p>
                <label for="password">Password</label>
                <input [(ngModel)]="account.auth.password" id="password" type="password" name="password">
              </p>
              <p><a href="#">Forgot your password?</a></p>
            </fieldset>
            <nav class="action">
              <ul>
                <li class="d">
                  <a href="start">
                    <span>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                        <g class="c">
                          <circle cx="40" cy="40" r="29.5"/>
                        </g>
                        <g class="i">
                          <line class="l" x1="52" y1="40" x2="28" y2="40"/>
                          <polyline class="l" points="40,52 28,40 40,28"/>
                        </g>
                      </svg>
                    </span>
                    <span>Cancel</span>
                  </a>
                </li>
                <li class="g">
                  <button (click)="login()" class="active">
                    <span>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                        <g class="c">
                          <circle cx="40" cy="40" r="29.5"/>
                        </g>
                        <g class="i">
                          <path class="l" d="M44.95,25h6.22c1.72,0,3.11,1.39,3.11,3.11v21.78c0,1.72-1.39,3.11-3.11,3.11h-6.22"/>
                          <polyline class="l" points="36.4,46.55 44.18,38.77 36.4,30.99"/>
                          <line class="l" x1="43.89" y1="38.77" x2="25.22" y2="38.77"/>
                        </g>
                      </svg>
                    </span>
                    <span>Sign In</span>
                  </button>
                </li>
              </ul>
            </nav>

          </section>
        </div>
      </form>
    </div>

    <!--   End: Main -->



  </div>

  <!--   End: App -->
</ion-content>
