<ion-content padding>
  <!-- Begin: App -->

  <div id="app">

    <!-- Begin: Main -->

    <main id="intro">

      <section>
        <div>
          <div>
            <img src="./assets/images/logo-white.png">
            <h1>Atticus</h1>

          </div>
        </div>
      </section>

    </main>


    <div id="modal" class="alert">
      <form id="start">
        <div>
          <section>
            <fieldset>
              <h4>Sign In Information</h4>
              <p>
                <label for="email">Email</label>
                <input [(ngModel)]="user_account.email" id="email" type="email" name="email">

              </p>
              <p>
                <label for="password">Password</label>
                <input [(ngModel)]="user_account.password" id="password" type="password" name="password">
              </p>
              <p><a href="#">Forgot your password?</a></p>
            </fieldset>
            <nav id="action">
              <ul>
                <li class="new">
                  <a href="start">
                    <span><i class="fas fa-arrow-left"></i></span>
                    <span>Cancel</span>
                  </a>
                </li>
                <li class="new">
                  <button (click)="login()" class="active">
                    <span><i class="fas fa-sign-in-alt"></i></span>
                    <span>Sign In</span>
                  </button>
                </li>
              </ul>
            </nav>

          </section>
        </div>
      </form>
    </div>

    <!--   End: Main -->



  </div>

  <!--   End: App -->
</ion-content>
