<ion-content padding>
  <div class="app">
    <div class="main-content full-content">
      <section class="page-section">
        <div class="container entry-container">
          <div class="modal-close-button js-modal-close"><span class="icon-menu-close"></span></div>
          <div class="modal-body">
            <div class="modal-login-image"><img src="./assets/images/logo.svg"></div>
            <div class="modal-login-form">
              <div class="form-wrapper">
                <div class="form-group">
                  <label>Email</label>
                  <input class="form-control" type="text" placeholder="Enter your email address">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input class="form-control" type="password" placeholder="Enter your password">
                </div>
                <div class="form-group"><a href="#">Forgot your password?</a></div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="modal-footer-buttons">
              <a class="btn btn-transparent btn-half js-modal-close" href="/welcome">Cancel</a>
              <button class="btn btn-primary btn-half" (click)="displayAuthFailureAlert()">Login</button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</ion-content>
