<ion-content>
  <div id="app">

    <!-- Begin: Header -->

    <header>

      <section id="top">
        <div>
          <section>
            <nav>
              <ul>
                <li><a href="menu" class="js-mobile-menu"><i class="fas fa-bars"></i></a></li>
                <li><a href="dashboard"><i class="fas fa-home"></i></a></li>
              </ul>
            </nav>
          </section>
        </div>
        <div>
          <div>
            <img src="./assets/images/logo.png" alt="Atticus" style="height: 2rem;">
          </div>
        </div>
        <div>
          <section>
            <nav>
              <ul>
                <li><a href="notifications"><i class="far fa-envelope"></i></a></li>
                <li><a href="settings"><i class="fas fa-cog"></i></a></li>
              </ul>
            </nav>
          </section>
        </div>
      </section>


      <section>
        <nav id="main">
          <ul>
            <li>
              <a href="templates" class="active">
                <span>{{account.newTemplatesCount()}}</span>
                <span><i class="fas fa-file-alt"></i></span>
                <span>Templates</span>
              </a>
            </li>
            <li>
              <a href="drafts">
                <span>{{account.newDraftsCount()}}</span>
                <span><i class="fas fa-file"></i></span>
                <span>Drafts</span>
              </a>
            </li>
            <li>
              <a href="proposals">
                <span>{{account.newProposalsCount()}}</span>
                <span><i class="far fa-file"></i></span>
                <span>Proposals</span>
              </a>
            </li>
            <li>
              <a href="contracts">
                <span>{{account.newActiveDealsCount()}}</span>
                <span><i class="far fa-file-alt"></i></span>
                <span>Contracts</span>
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </header>

    <!--   End: Header -->
    <!-- Begin: Main -->

    <main>

      <!-- Begin: Intro -->

      <section id="templates" class="list stack">
        <div>


          <div id="accordion">
            <div class="tab">
              <h3><a href="templates-view"><i class="fas fa-file-alt"></i> Consultant Agreement</a></h3>
              <input id="a1" type="checkbox" name="tabs">
              <label for="a1">&nbsp;</label>
              <div class="tab-content">
                <ul>
                  <li><a href="templates-view">Consultant Agreement v3</a></li>
                  <li><a href="templates-view">Consultant Agreement v2</a></li>
                  <li><a href="templates-view">Consultant Agreement v1</a></li>
                </ul>
              </div>
            </div>
            <div class="tab">
              <h3><a href="templates-view"><i class="fas fa-file-alt"></i> Rental Agreement</a></h3>
              <input id="a2" type="checkbox" name="tabs">
              <label for="a2">&nbsp;</label>
              <div class="tab-content">
                <ul>
                  <li><a href="templates-view">Rental Agreement v3</a></li>
                  <li><a href="templates-view">Rental Agreement v2</a></li>
                  <li><a href="templates-view">Rental Agreement v1</a></li>
                </ul>
              </div>
            </div>
            <div class="tab">
              <h3><a href="templates-view"><i class="fas fa-file-alt"></i> Software Dev Agreement</a></h3>
              <input id="a3" type="checkbox" name="tabs">
              <label for="a3">&nbsp;</label>
              <div class="tab-content">
                <ul>
                  <li><a href="templates-view">Software Dev Agreement v3</a></li>
                  <li><a href="templates-view">Software Dev Agreement v2</a></li>
                  <li><a href="templates-view">Software Dev Agreement v1</a></li>
                </ul>
              </div>
            </div>
            <div class="tab">
              <h3><a href="templates-view"><i class="fas fa-file-alt"></i> 3-Party bet</a></h3>
              <input id="a4" type="checkbox" name="tabs">
              <label for="a4">&nbsp;</label>
              <div class="tab-content">
                <ul>
                  <li><a href="templates-view">3-Party bet v3</a></li>
                  <li><a href="templates-view">3-Party bet v2</a></li>
                  <li><a href="templates-view">3-Party bet v1</a></li>
                </ul>
              </div>
            </div>
            <div class="tab">
              <h3><a href="templates-view"><i class="fas fa-file-alt"></i> Dice Roll Bet</a></h3>
              <input id="a5" type="checkbox" name="tabs">
              <label for="a5">&nbsp;</label>
              <div class="tab-content">
                <ul>
                  <li><a href="templates-view">Dice Roll Bet v6</a></li>
                  <li><a href="templates-view">Dice Roll Bet v5</a></li>
                  <li><a href="templates-view">Dice Roll Bet v4</a></li>
                  <li><a href="templates-view">Dice Roll Bet v3</a></li>
                  <li><a href="templates-view">Dice Roll Bet v2</a></li>
                  <li><a href="templates-view">Dice Roll Bet v1</a></li>
                </ul>
              </div>
            </div>
          </div>



        </div>
      </section>
    </main>

    <!--   End: Main -->
    <!-- Begin: Footer -->

    <footer>
      <nav id="action">
        <ul>
          <li class="new">
            <a href="templates-new" class="active">
              <span><i class="fas fa-plus"></i></span>
              <span>New</span>
            </a>
          </li>
        </ul>
      </nav>
    </footer>

    <!--   End: Footer -->

  </div>

</ion-content>
