@charset "UTF-8";
/* CSS Document */

/* Theme */

body {
	background-color: hsla(225, 15%, 20%, 1);
  background-color: #2b2f3b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='60%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232b2f3b'/%3E%3Cstop offset='1' stop-color='%232b2f3b'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%237d88ab' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%237d88ab' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%23383d4d' stroke-width='2' stroke-miterlimit='10' stroke-opacity='.5'%3E%3Ccircle cx='500' cy='500' r='725'/%3E%3Ccircle cx='500' cy='500' r='700'/%3E%3Ccircle cx='500' cy='500' r='675'/%3E%3Ccircle cx='500' cy='500' r='650'/%3E%3Ccircle cx='500' cy='500' r='625'/%3E%3Ccircle cx='500' cy='500' r='600'/%3E%3Ccircle cx='500' cy='500' r='575'/%3E%3Ccircle cx='500' cy='500' r='550'/%3E%3Ccircle cx='500' cy='500' r='525'/%3E%3Ccircle cx='500' cy='500' r='500'/%3E%3Ccircle cx='500' cy='500' r='475'/%3E%3Ccircle cx='500' cy='500' r='450'/%3E%3Ccircle cx='500' cy='500' r='425'/%3E%3Ccircle cx='500' cy='500' r='400'/%3E%3Ccircle cx='500' cy='500' r='375'/%3E%3Ccircle cx='500' cy='500' r='350'/%3E%3Ccircle cx='500' cy='500' r='325'/%3E%3Ccircle cx='500' cy='500' r='300'/%3E%3Ccircle cx='500' cy='500' r='275'/%3E%3Ccircle cx='500' cy='500' r='250'/%3E%3Ccircle cx='500' cy='500' r='225'/%3E%3Ccircle cx='500' cy='500' r='200'/%3E%3Ccircle cx='500' cy='500' r='175'/%3E%3Ccircle cx='500' cy='500' r='150'/%3E%3Ccircle cx='500' cy='500' r='125'/%3E%3Ccircle cx='500' cy='500' r='100'/%3E%3Ccircle cx='500' cy='500' r='75'/%3E%3Ccircle cx='500' cy='500' r='50'/%3E%3Ccircle cx='500' cy='500' r='25'/%3E%3C/g%3E%3Crect fill-opacity='.5' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}








/* Typography */

h1, h2, h3, h4, h5, h6, p, th, td, li, dt, dd, select, option, input, span, caption, textarea {
	line-height: 150%;
	margin: 0 0 1rem;
}
h1, h2, h3, h4, h5, h6, dt, th, legend { font-weight: 300; }
h1 {
    color: hsla(225, 15%, 30%, 1);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: .05rem;
}
h2, legend { font-size: 4.6rem; }
h3 { font-size: 2.6rem; }
h4 {
    color: hsla(225, 15%, 30%, 1);
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: .05rem;
}
h5 { font-size: 1.6rem; }
h6 { font-size: 1.2rem; }
h4 { font-weight: 400; }
h5, h6 { font-weight: 600; }

p, th, td, li, dt, dd, select, option, input, span, caption, textarea {
	font-size: 1.7rem;
	font-weight: 400;
}
li, dt, dd {
    line-height: 150%;
    list-style-position: outside;
    margin: 0 0 .5rem 0;
    padding: 0;
}
caption {
	margin: 1.5rem;
}
dt, th, legend {
	font-weight: 600;
}
small {
	font-size: 82.5%;
}
a {
	color: hsla(225, 45%, 30%, 1);
	transition: all .2s;
}
a:hover {
	color: hsla(225, 15%, 20%, 1);
	transition: all .2s;
}

/* blockquote */

blockquote {

}
blockquote p {

}
blockquote small {

}

figure {
    margin: 0 auto 2rem;
    padding: 0;
}
figure img {
    height: auto;
    width: 100%;
}

/* Table */

table {
	border: .1rem solid hsla(0, 0%, 85%, 1);
	border-collapse: collapse;
	margin: 1rem auto;
	width: 100%;
}
td, th {
	padding: .75rem 1rem;
	text-align: left;
}
td {
	border-bottom: .1rem dashed hsla(0, 0%, 75%, 1);
}
td a {

}
td a:hover {

}
th {
	background-color: hsla(0, 0%, 85%, 1);
	font-weight: 600;
	padding: 1.5rem 1rem;
	text-align: left;
}
table {
	border: .1rem solid hsla(0, 0%, 85%, 1);
	border-collapse: collapse;
	margin: 1rem auto;
	width: 100%;
}
td, th {
	padding: .75rem 1rem;
	text-align: left;
}
td {
	border-bottom: .1rem dashed hsla(0, 0%, 75%, 1);
}
td a {

}
td a:hover {

}
th {
	background-color: hsla(0, 0%, 85%, 1);
	font-weight: 600;
	padding: 1.5rem 1rem;
	text-align: left;
}




pre {
	background: hsla(210, 20%, 10%, 1);
	border-radius: .5rem;
	color: hsla(0, 0%, 100%, 1);
	counter-reset: line;
	padding: 2rem 2rem 1rem;
}
code {
    color: hsla(0, 0%, 100%, 1);
    counter-increment: line;
    display: inline-block;
    /* border-right: 1px solid #ddd; */
    margin-right: 0;
    padding: 0;
	tab-size: 3rem;
}
p code {
	color: hsla(190, 80%, 40%, 1);
	font-weight: 600;
}
code span:not[class]:before {
    content: counter(line);
	-webkit-user-select: none;
}
button {
	transition: all .1s;
}
button:hover {
	transition: all 0s;
}



/* Fonts ------------------------------ */


@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/NunitoSans/nunito-sans-v3-latin-300.eot");
    src: local("Nunito Sans Light"), local("NunitoSans-Light"), url("../fonts/NunitoSans/nunito-sans-v3-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-300.woff2") format("woff2"), url("../fonts/NunitoSans/nunito-sans-v3-latin-300.woff") format("woff"), url("../fonts/NunitoSans/nunito-sans-v3-latin-300.ttf") format("truetype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-300.svg#NunitoSans") format("svg");
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/NunitoSans/nunito-sans-v3-latin-regular.eot");
    src: local("Nunito Sans Regular"), local("NunitoSans-Regular"), url("../fonts/NunitoSans/nunito-sans-v3-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-regular.woff2") format("woff2"), url("../fonts/NunitoSans/nunito-sans-v3-latin-regular.woff") format("woff"), url("../fonts/NunitoSans/nunito-sans-v3-latin-regular.ttf") format("truetype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-regular.svg#NunitoSans") format("svg");
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/NunitoSans/nunito-sans-v3-latin-600.eot");
    src: local("Nunito Sans SemiBold"), local("NunitoSans-SemiBold"), url("../fonts/NunitoSans/nunito-sans-v3-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-600.woff2") format("woff2"), url("../fonts/NunitoSans/nunito-sans-v3-latin-600.woff") format("woff"), url("../fonts/NunitoSans/nunito-sans-v3-latin-600.ttf") format("truetype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-600.svg#NunitoSans") format("svg"); }
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/NunitoSans/nunito-sans-v3-latin-700.eot");
    src: local("Nunito Sans Bold"), local("NunitoSans-Bold"), url("../fonts/NunitoSans/nunito-sans-v3-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-700.woff2") format("woff2"), url("../fonts/NunitoSans/nunito-sans-v3-latin-700.woff") format("woff"), url("../fonts/NunitoSans/nunito-sans-v3-latin-700.ttf") format("truetype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-700.svg#NunitoSans") format("svg");
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/NunitoSans/nunito-sans-v3-latin-800.eot");
    src: local("Nunito Sans ExtraBold"), local("NunitoSans-ExtraBold"), url("../fonts/NunitoSans/nunito-sans-v3-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-800.woff2") format("woff2"), url("../fonts/NunitoSans/nunito-sans-v3-latin-800.woff") format("woff"), url("../fonts/NunitoSans/nunito-sans-v3-latin-800.ttf") format("truetype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-800.svg#NunitoSans") format("svg");
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/NunitoSans/nunito-sans-v3-latin-900.eot");
    src: local("Nunito Sans Black"), local("NunitoSans-Black"), url("../fonts/NunitoSans/nunito-sans-v3-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-900.woff2") format("woff2"), url("../fonts/NunitoSans/nunito-sans-v3-latin-900.woff") format("woff"), url("../fonts/NunitoSans/nunito-sans-v3-latin-900.ttf") format("truetype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-900.svg#NunitoSans") format("svg");
}






/* width */
::-webkit-scrollbar {
    width: 1rem;
    background-color: hsla(0, 100%, 100%, .75);
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 hsla(0, 0%, 0%, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: .5rem;
}
