@charset "UTF-8";
/* CSS Document */

/* Nav --------------- */


/* Nav Top */





/* 

nav {
    align-items: flex-start;
    display: inline-block;
    margin: 0 !important;
    padding: 0;
}
nav > ul {
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: nowrap;
    list-style: none;
	margin: 0 auto;
	padding: 1rem 0 0 0;
	position: relative;
	text-align: center;
	width: 100%; 
}
nav > ul > li {
    text-align: center;
    margin: 0 .5rem;
}
nav > ul > li a {
    background-color: transparent;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: nowrap;
	margin: 0 auto;
	padding: 1rem;
	position: relative;
	text-align: center;
	width: 100%;
    
}
*/



/* Nav Main */


/*
#main {
    background-color: hsla(0, 100%, 100%, 1);
    width: 100%;
    z-index: 50;
}
#main ul {
    justify-content: center;
    padding: 0;
}
#main > ul > li {
    min-width: 10rem;
}
#main > ul > li a {
    display: inline-block;
    padding: 2rem 0 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin: 0;
    min-width: 10rem;
}
#main > ul > li a span:first-of-type {
    background-color: hsla(345, 0%, 80%, .5);
    border-radius: 50%;
    color: hsla(0, 100%, 100%, 1);
    font-size: .8rem;
    font-weight: bold;
    height: 2rem;
    padding: .4rem 0;
    position: absolute;
    right: 1.5rem;
    top: 2rem;
    transition: all .2s;
    width: 2rem;
}
#main > ul > li a.active span:first-of-type,
#main > ul > li a:hover span:first-of-type {
    background-color: hsla(345, 90%, 50%, 1);
    transition: all .2s;
}
#main > ul > li a span:nth-of-type(2) {
    background-color: #fff;
    border: .1rem solid hsla(225, 13%, 39%, 0);
    border-radius: 50%;
    font-size: 3rem;
    height: 6rem;
    margin: 0 auto;
    transition: all .2s;
    width: 6rem;
}
#main > ul > li a:hover span:nth-of-type(2) {
     transition: all .2s;  
}
#main > ul > li > a span:nth-of-type(2) {
    color: hsla(225, 5%, 80%, 1);
    padding-top: .75rem;
}
#main > ul > li > a span:nth-of-type(2) {
    color: hsla(225, 5%, 80%, 1);
    padding-top: .75rem;
}
#main > ul > li > a.active span:nth-of-type(2),
#main > ul > li > a:hover span:nth-of-type(2) {
    color: hsla(225, 5%, 30%, 1);
}
#main > ul > li > a span:nth-of-type(3) {
    color: hsla(225, 5%, 70%, 1);
    display: block;
    margin-top: 0rem;
    
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4rem;
    letter-spacing: .1rem;
    text-transform: initial;
}
#main > ul > li > a.active span:nth-of-type(3),
#main > ul > li > a:hover span:nth-of-type(3) {
    color: hsla(225, 5%, 10%, 1);
}
#main > ul > li > a span:nth-of-type(4) {
    display:none;
}
#main > ul > li > a.active span:nth-of-type(4) {
    background-color: #fff;
    display: inline-block;
    left: 50%;
    margin: 0 0 0 -1rem;
    position: absolute;
    transform: rotate(45deg);
    bottom: -1.5rem;
    width: 2rem; 
    height: 2rem; 
    box-shadow: 0rem .2rem 0 hsla(0, 0%, 0%, .05);
}


*/



#top {
    background-color: hsla(0,100%, 100%, 1);
    box-shadow: 0 0 .3rem hsla(0, 0%, 0%, .05);
    padding: 0;
    z-index: 100;
}
#top ul > li a {
    color: hsla(225, 15%, 70%, 1);
    display:inline-block;

    padding: 0rem;

}
#top ul > li a:hover {
    color: hsla(225, 55%, 50%, 1);
}


#top ul > li a svg {
    width: 3rem;
    height: 3rem;
}

#top ul > li a svg .l,
#top ul > li a svg circle {
    fill: none;
    stroke: hsla(225, 10%, 70%, 1);
    stroke-width: .1rem;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: 150ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 150ms;
    -webkit-transition-timing-function: ease-in-out;
}
#top ul > li a:hover svg .l,
#top ul > li a:hover svg circle {
    stroke: hsla(225, 10%, 20%, 1);
    transition: 100ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 100ms;
    -webkit-transition-timing-function: ease-in-out;
}



#top div div {
    padding: 0;
}
#top #logo {
    height: 3rem;
    width: auto;
}
    
#top > div:first-of-type > section > nav {
    left: 1rem;
    position: absolute;
    top: 0;
}
#top > div:last-of-type > section > nav {
    right: 1rem;
    position: absolute;
    top: 0;
}
#top div div {
    text-align: center;
}







nav.tabs ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: auto;
}
nav.tabs ul li {
    margin: 0;
}
nav.tabs ul a {
color: hsla(0, 100%, 100%, .5);
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    text-decoration: none;
    background: transparent;
    letter-spacing: .05rem;
    display: block;
}
nav.tabs ul a:hover,
nav.tabs ul a.active {
    color: hsla(0, 100%, 100%, 1);
}











#demo-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 12rem;
    z-index: 5000;
}
#demo-nav ul {
    display: block;
    padding: .35rem 0;
    margin: 0;
    list-style: none;
}
#demo-nav > ul  {
    border-bottom: dotted .1rem hsla(0, 100%, 100%, .2);
}
#demo-nav ul li {
    display: block;
    margin: 0;
    font-size: 1rem;
    padding: 0;
    text-align: left;
}
#demo-nav ul li a {
    color: hsla(0, 100%, 100%, .5);
    display: block;
    font-size: .85rem;
    font-weight: 300;
    line-height: .85rem;
    letter-spacing: .05rem;
    margin: 0;
    padding: .25rem 1rem;
    text-decoration: none;
}
#demo-nav ul li a:hover {
    color: hsla(0, 100%, 100%, 1);
    text-decoration: underline;
}
#demo-nav ul li ul li a {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
    letter-spacing: .05rem;
    margin: 0 0 0 1rem;
    padding: 0 1rem;
}







/* Action Buttons */

.action {
    width: 100%;
    z-index: 50;
}

fieldset > .action {
	padding-top: 5rem;
}
.action ul {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.action > ul > li {
    min-width: 10rem;
}
.action > ul > li a,
.action > ul > li button {
    display: inline-block;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: 0;
    position: relative;
    transition: all .2s;
    width: 100%;
}
.action > ul > li a span:first-of-type,
.action > ul > li button span:first-of-type {
    display: inline-block;
    height: 8rem;
    margin: 0 auto;
    width: 8rem;
    padding: 0;
    transition: all .2s;
}
.action > ul > li > a span:first-of-type,
.action > ul > li button span:first-of-type {
    color: hsla(225, 15%, 40%, 1);
    transition: all .2s;
}
.action > ul > li > a:hover span:first-of-type,
.action > ul > li button:hover  span:first-of-type {
    color: hsla(225, 50%, 50%, 1);
    transition: all .2s;
}

.action > ul > li > a span:nth-of-type(2),
.action > ul > li button span:nth-of-type(2) {
    color: #222;
    display: block;
    margin-top: 0rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;
    letter-spacing: .1rem;
    text-transform: initial;
    transition: all .2s;
}
.action > ul > li > a span:nth-of-type(3),
.action > ul > li button span:nth-of-type(3) {
    color: #222;
    display: block;
    margin-top: -.75rem;
    font-size: .85rem;
    font-weight: 300;
    line-height: 1.4rem;
    letter-spacing: .05rem;
    text-transform: initial;
    transition: all .2s;
}









/* HOVER COLOR */



.action > ul > li a svg .c circle {
    stroke-width: .025rem;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: 150ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 150ms;
    -webkit-transition-timing-function: ease-in-out;
}
.action > ul > li:hover a svg .c circle {
    transition: 100ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 100ms;
    -webkit-transition-timing-function: ease-in-out;
}


.action > ul > li a svg .i .s {
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: 150ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 150ms;
    -webkit-transition-timing-function: ease-in-out;
}
.action > ul > li a svg .i .l {
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: 150ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 150ms;
    -webkit-transition-timing-function: ease-in-out;
}
.action > ul > li:hover a svg .i .s {
    transition: 100ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 100ms;
    -webkit-transition-timing-function: ease-in-out;
}
.action > ul > li:hover a svg .i .l {
    transition: 100ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 100ms;
    -webkit-transition-timing-function: ease-in-out;
}



/* Nav Main */

.action.nav-main li a svg .i .s {
    fill: hsla(0, 100%, 100%, 1) !important;
    stroke: hsla(225, 20%, 70%, 1) !important;
}
.action.nav-main li a svg .i .l {
    fill: none !important;
    stroke: hsla(225, 20%, 70%, 1) !important;
}
.action.nav-main li:hover a svg .i .s {
    fill: hsla(0, 100%, 100%, 1) !important;
    stroke: hsla(225, 20%, 5%, 1) !important;
}
.action.nav-main li:hover a svg .i .l {
    fill: none !important;
    stroke: hsla(225, 20%, 5%, 1) !important;
}


.action.nav-main li > a span:nth-of-type(2) {
    margin-top: -1.25rem;
    padding-bottom: 1rem;
}
.action.nav-main li > a span:nth-of-type(3) {
    background-color: hsla(345, 0%, 0%, 0);
    color: hsla(225, 100%, 80%, 1);
    display: inline-block;
    margin-top: 0rem;
    padding: .5rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    position: absolute;
    right: 0rem;
    letter-spacing: .1rem;
    
    text-transform: initial;
    top: 1rem;
    border-radius: 1.5rem;
}
.action.nav-main li > a.active span:nth-of-type(3),
.action.nav-main > li:hover > a span:nth-of-type(3) {
    background-color: hsla(345, 80%, 50%, 1);
    color: hsla(225, 100%, 100%, 1);
}


/* Default color */

li.d a svg .c circle {
    fill: hsla(0, 100%, 100%, 1);
    stroke: hsla(225, 10%, 60%, 1);
}
li.d:hover a svg .c circle {
    fill: hsla(225, 10%, 60%, 1);
    stroke: hsla(225, 10%, 60%, 1);
}
li.d a svg .c .s {
    fill: hsla(0, 100%, 100%, 1);
    stroke: hsla(225, 10%, 60%, 1);
}
li.d a svg .i .l {
    fill: none;
    stroke: hsla(225, 10%, 60%, 1);
}
li.d:hover a svg .i .s {
    fill: hsla(225, 10%, 60%, 1);
    stroke: hsla(0, 100%, 100%, 1);
}
li.d:hover a svg .i .l {
    fill: none;
    stroke: hsla(0, 100%, 100%, 1);
}

/* Red color */

li.r a svg .c circle {
    fill: hsla(0, 100%, 100%, 1);
    stroke: hsla(345, 80%, 50%, 1);
}
li.r:hover a svg .c circle {
    fill: hsla(345, 80%, 50%, 1);
    stroke: hsla(345, 80%, 50%, 1);
}
li.d a svg .c .s {
    fill: hsla(0, 100%, 100%, 1);
    stroke: hsla(345, 80%, 50%, 1);
}
li.r a svg .i .l {
    fill: none;
    stroke: hsla(345, 80%, 50%, 1);
}
li.r:hover a svg .i .s {
    fill: hsla(345, 80%, 50%, 1);
    stroke: hsla(0, 100%, 100%, 1);
}
li.r:hover a svg .i .l {
    fill: none;
    stroke: hsla(0, 100%, 100%, 1);
}

/* Green color */

li.g a svg .c circle {
    fill: hsla(0, 100%, 100%, 1);
    stroke: hsla(115, 80%, 40%, 1);
}
li.g:hover a svg .c circle {
    fill: hsla(115, 80%, 40%, 1);
    stroke: hsla(115, 80%, 40%, 1);
}
li.g a svg .i .s {
    fill: hsla(0, 100%, 100%, 1);
    stroke: hsla(115, 80%, 40%, 1);
}
li.g a svg .i .l {
    fill: none;
    stroke: hsla(115, 80%, 40%, 1);
}
li.g:hover a svg .i .s {
    fill: hsla(115, 80%, 40%, 1);
    stroke: hsla(0, 100%, 100%, 1);
}
li.g:hover a svg .i .l {
    fill: none;
    stroke: hsla(0, 80%, 100%, 1);
}

/* Blue color */

li.b a svg .c circle {
    fill: hsla(0, 100%, 100%, 1);
    stroke: hsla(225, 60%, 50%, 1);
}
li.b:hover a svg .c circle {
    fill: hsla(225, 60%, 50%, 1);
    stroke: hsla(225, 60%, 50%, 1);
}
li.b a svg .i .s {
    fill: hsla(0, 100%, 100%, 1);
    stroke: hsla(225, 60%, 50%, 1);
}
li.b a svg .i .l {
    fill: none;
    stroke: hsla(225, 60%, 50%, 1);
}
li.b:hover a svg .i .s {
    fill: hsla(225, 60%, 50%, 1);
    stroke: hsla(0, 100%, 100%, 1);
}
li.b:hover a svg .i .l {
    fill: none;
    stroke: hsla(0, 100%, 100%, 1);
}

/* Puerple color */

li.p a svg .c circle {
    fill: hsla(0, 100%, 100%, 1);
    stroke: hsla(265, 60%, 50%, 1);
}
li.p:hover a svg .c circle {
    fill: hsla(265, 60%, 50%, 1);
    stroke: hsla(265, 60%, 50%, 1);
}
li.p a svg .i .s {
    fill: hsla(0, 100%, 100%, 1);
    stroke: hsla(265, 60%, 50%, 1);
}
li.p a svg .i .l {
    fill: none;
    stroke: hsla(265, 60%, 50%, 1);
}
li.p:hover a svg .i .s {
    fill: hsla(265, 60%, 50%, 1);
    stroke: hsla(0, 100%, 100%, 1);
}
li.p:hover a svg .i .l {
    fill: none;
    stroke: hsla(0, 100%, 100%, 1);
}
