@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/NunitoSans/nunito-sans-v3-latin-300.eot");
  src: local("Nunito Sans Light"), local("NunitoSans-Light"), url("../fonts/NunitoSans/nunito-sans-v3-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-300.woff2") format("woff2"), url("../fonts/NunitoSans/nunito-sans-v3-latin-300.woff") format("woff"), url("../fonts/NunitoSans/nunito-sans-v3-latin-300.ttf") format("truetype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-300.svg#NunitoSans") format("svg"); }

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NunitoSans/nunito-sans-v3-latin-regular.eot");
  src: local("Nunito Sans Regular"), local("NunitoSans-Regular"), url("../fonts/NunitoSans/nunito-sans-v3-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-regular.woff2") format("woff2"), url("../fonts/NunitoSans/nunito-sans-v3-latin-regular.woff") format("woff"), url("../fonts/NunitoSans/nunito-sans-v3-latin-regular.ttf") format("truetype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-regular.svg#NunitoSans") format("svg"); }

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/NunitoSans/nunito-sans-v3-latin-600.eot");
  src: local("Nunito Sans SemiBold"), local("NunitoSans-SemiBold"), url("../fonts/NunitoSans/nunito-sans-v3-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-600.woff2") format("woff2"), url("../fonts/NunitoSans/nunito-sans-v3-latin-600.woff") format("woff"), url("../fonts/NunitoSans/nunito-sans-v3-latin-600.ttf") format("truetype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-600.svg#NunitoSans") format("svg"); }

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NunitoSans/nunito-sans-v3-latin-700.eot");
  src: local("Nunito Sans Bold"), local("NunitoSans-Bold"), url("../fonts/NunitoSans/nunito-sans-v3-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-700.woff2") format("woff2"), url("../fonts/NunitoSans/nunito-sans-v3-latin-700.woff") format("woff"), url("../fonts/NunitoSans/nunito-sans-v3-latin-700.ttf") format("truetype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-700.svg#NunitoSans") format("svg"); }

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/NunitoSans/nunito-sans-v3-latin-800.eot");
  src: local("Nunito Sans ExtraBold"), local("NunitoSans-ExtraBold"), url("../fonts/NunitoSans/nunito-sans-v3-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-800.woff2") format("woff2"), url("../fonts/NunitoSans/nunito-sans-v3-latin-800.woff") format("woff"), url("../fonts/NunitoSans/nunito-sans-v3-latin-800.ttf") format("truetype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-800.svg#NunitoSans") format("svg"); }

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/NunitoSans/nunito-sans-v3-latin-900.eot");
  src: local("Nunito Sans Black"), local("NunitoSans-Black"), url("../fonts/NunitoSans/nunito-sans-v3-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-900.woff2") format("woff2"), url("../fonts/NunitoSans/nunito-sans-v3-latin-900.woff") format("woff"), url("../fonts/NunitoSans/nunito-sans-v3-latin-900.ttf") format("truetype"), url("../fonts/NunitoSans/nunito-sans-v3-latin-900.svg#NunitoSans") format("svg"); }

html,
body, .content-section h3, .form-group h3, .modal-title h3, .modal-success h3, .modal-success p, .header-shortcut ul, .header-bar-title h1, .header-title h1, .mobile-menu-wrapper ul, .page-header h1, .card-detail h3, .card-detail p, .menu-tabs-wrapper ul, .entry-introduction p, .signup-indicator ul, .signup-title h2,
.contract-title h2, .signup-profile .profile-detail h3, .signup-profile .profile-detail p, .template-card h3, .tags-list p, .contract-card h3, .contract-accordion-info h3, .new-contract-list ul, .proposal-info h3, .last-action-detail h3, .last-action-detail p,
.last-action-detail span, .proposal-action-image h3 {
  margin: 0;
  padding: 0; }

.container, .btn, .form-control, .modal-container, .modal-body, .header-menubar, .header-title, .page-wrapper, .menu-tabs-wrapper ul li a, .entry-wrapper, .signup-indicator ul li a, .signup-profile .profile-image .profile-image-add {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: #020715;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.app {
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 480px;
  margin: 0 auto; }
  .app.menu {
    overflow: hidden; }
    .app.menu .mobile-menu {
      display: block; }
  .app.modal {
    overflow: hidden; }
    .app.modal + .modal-overlay {
      display: block;
      overflow: auto; }
  .app:before {
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: -webkit-linear-gradient(180deg, #fff, #f4f8fc);
    background-image: -moz-linear-gradient(180deg, #fff, #f4f8fc);
    background-image: -ms-linear-gradient(180deg, #fff, #f4f8fc);
    background-image: -o-linear-gradient(180deg, #fff, #f4f8fc);
    background-image: linear-gradient(180deg, #fff, #f4f8fc);
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: 0;
    max-width: 480px; }

section.menu-section {
  height: auto; }

section.dashboard-section {
  height: auto; }

section.page-section {
  height: 100%; }

.main-content {
  position: relative;
  z-index: 1; }
  .main-content.full-content {
    height: 100%; }
  .main-content.dashboard-full-content {
    height: calc(100% - 64px); }
    .main-content.dashboard-full-content section.page-section {
      height: calc(100% - 64px); }

.container {
  padding: 0 20px; }
  .container.entry-container {
    height: 100%;
    min-height: 100%; }
  .container.signup-container {
    height: 100%;
    min-height: 100%; }
  .container.dashboard-container {
    height: 100%;
    min-height: 100%; }

.content-section {
  position: relative;
  margin-top: 30px; }
  .content-section h3 {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: .7px; }
  .content-section .form-wrapper {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    -moz-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    -ms-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    -o-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    margin-top: 10px;
    padding: 20px;
    background-color: #fff; }

.content-section-button {
  position: absolute;
  top: 0;
  right: 0; }

.content-menu + .content-menu {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eceef4; }

.content-checkbox .form-group label {
  margin: 0; }

.content-checkbox + .content-checkbox {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eceef4; }

.horizontal-sparator {
  width: 100%;
  height: 1px;
  background-color: #eceef4; }

.btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  display: block;
  height: 45px;
  padding: 13px 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  cursor: pointer; }
  .btn.btn-primary {
    color: #fff;
    background-color: #7c34f1; }
  .btn.btn-grey {
    color: #020715;
    background-color: rgba(118, 128, 156, 0.1); }
  .btn.btn-transparent {
    color: #020715;
    background-color: transparent; }
  .btn.btn-transparent-primary {
    height: auto;
    padding: 0;
    color: #7c34f1;
    background-color: transparent; }
  .btn.btn-outline-primary {
    color: #7c34f1;
    background-color: transparent;
    border-color: #7c34f1; }
  .btn.btn-profile {
    height: 40px;
    padding: 11px 0 10px;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 1.39px; }
  .btn.btn-edit {
    width: auto;
    height: 24px;
    padding: 3px 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 1.39px;
    color: #7c34f1;
    background-color: transparent; }
    .btn.btn-edit:hover {
      opacity: .8; }
  .btn.btn-float {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding: 21px 0; }
    .btn.btn-float span {
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0; }
  .btn.btn-more-dots {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent; }
    .btn.btn-more-dots span {
      width: 4px;
      height: 4px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      background-color: #5d6da5; }
      .btn.btn-more-dots span + span {
        margin-left: 3px; }
  .btn.btn-add-tags {
    width: 74px;
    height: 37px;
    padding: 9px 0; }
  .btn.btn-remove-tags {
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    padding: 2px 0;
    background-color: rgba(124, 52, 241, 0.1); }
    .btn.btn-remove-tags span {
      font-size: 10px;
      line-height: 1;
      letter-spacing: 0;
      color: rgba(124, 52, 241, 0.25); }
  .btn.btn-url {
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent; }
  .btn.btn-memo {
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: .5px;
    text-transform: initial;
    color: #7c34f1; }
    .btn.btn-memo span {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px; }
      .btn.btn-memo span:first-child {
        margin-left: 0;
        font-size: 24px;
        line-height: 1; }
  .btn.btn-icon-primary, .btn.btn-icon-red, .btn.btn-icon-green {
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
    text-align: center; }
    .btn.btn-icon-primary span, .btn.btn-icon-red span, .btn.btn-icon-green span {
      display: block;
      margin-top: 10px;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: .47px;
      text-transform: initial; }
      .btn.btn-icon-primary span:nth-child(1), .btn.btn-icon-red span:nth-child(1), .btn.btn-icon-green span:nth-child(1) {
        margin: 0;
        font-size: 40px;
        line-height: 1; }
  .btn.btn-icon-primary span:nth-child(1) {
    color: #7c34f1; }
  .btn.btn-icon-red span:nth-child(1) {
    color: #f23c6d; }
  .btn.btn-icon-green span:nth-child(1) {
    color: #00b379; }
  .btn:focus {
    outline: none; }

.form-control {
  width: 100%;
  height: 45px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  padding: 13px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: .68px;
  color: #020715;
  background-color: #fff;
  border: 1px solid #d8dce8; }
  .form-control.form-date {
    padding: 0 39px 0 42px;
    background-image: url("../icons/arrow-down.png"), url("../icons/calendar.png");
    background-repeat: no-repeat;
    background-size: 13px 13px, 16px 17px;
    background-position: calc(100% - 13px) center, 13px center; }
  .form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    outline: none;
    border-color: #b7b9bb; }
  .form-control::-webkit-input-placeholder {
    color: #a1acb9; }
  .form-control::-moz-placeholder {
    color: #a1acb9; }
  .form-control:-moz-placeholder {
    color: #a1acb9; }
  .form-control::-ms-input-placeholder {
    color: #a1acb9; }
  .form-control:-ms-input-placeholder {
    color: #a1acb9; }
  .form-control::placeholder {
    color: #a1acb9;
    opacity: 1; }

select.form-control {
  background-image: url("../icons/arrow-down.png");
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: calc(100% - 13px) center; }

select.form-filter {
  background-color: transparent; }

textarea.form-control {
  min-height: 105px; }

textarea.form-contract-text {
  min-height: 300px;
  padding: 15px 20px 20px;
  font-size: 13px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: .46px; }

input[type='checkbox'].ios-checkbox {
  display: none; }
  input[type='checkbox'].ios-checkbox + label {
    position: relative;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: .28px;
    color: #020715; }
    input[type='checkbox'].ios-checkbox + label:before {
      width: 40px;
      height: 21px;
      -webkit-border-radius: 11px;
      -moz-border-radius: 11px;
      -ms-border-radius: 11px;
      -o-border-radius: 11px;
      border-radius: 11px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 1;
      background-color: #e6e9ff;
      cursor: pointer; }
    input[type='checkbox'].ios-checkbox + label:after {
      width: 17px;
      height: 17px;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      -ms-border-radius: 9px;
      -o-border-radius: 9px;
      border-radius: 9px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      content: '';
      position: absolute;
      top: 50%;
      right: 21px;
      z-index: 2;
      background-color: #fff;
      cursor: pointer; }
  input[type='checkbox'].ios-checkbox:checked + label:before {
    background-color: #7c34f1; }
  input[type='checkbox'].ios-checkbox:checked + label:after {
    right: 2px; }

.form-wrapper label {
  display: block;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: .5px;
  color: #76809c; }

.form-section {
  margin-top: 10px; }
  .form-section .form-control {
    -webkit-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    -moz-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    -ms-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    -o-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    height: auto;
    padding: 20px;
    border: 0; }
    .form-section .form-control.form-filter {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
      height: 45px;
      padding: 13px;
      background-color: transparent;
      border: 1px solid #d8dce8; }
  .form-section textarea {
    min-height: 200px; }
    .form-section textarea.big {
      min-height: 320px; }

.form-group > a {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: .3px;
  color: #7c34f1; }

.form-group + .form-group {
  margin-top: 25px; }

.form-tags {
  position: relative; }
  .form-tags .form-control {
    padding-right: 90px; }
  .form-tags .btn {
    position: absolute;
    top: 4px;
    right: 4px; }

.form-url a {
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: .28px;
  color: #020715; }
  .form-url a span {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 0;
    color: #5d6da5; }

.modal-overlay {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(23, 46, 68, 0.8); }

.modal-overlay-close {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  cursor: pointer; }

.modal-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 20px; }

.modal-wrapper {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  display: none;
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 440px;
  background-color: #fff; }
  .modal-wrapper.active {
    display: block; }

.modal-title {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  top: 15px;
  left: 50%; }
  .modal-title h3 {
    font-size: 15px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: .5px;
    text-align: center; }

.modal-close-button {
  width: 24px;
  height: 24px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer; }
  .modal-close-button span {
    font-size: 12px;
    line-height: 1; }

.modal-body {
  padding: 30px 20px; }

.modal-login-image {
  width: 100%;
  text-align: center; }

.modal-login-form {
  margin-top: 36px; }

.modal-success {
  text-align: center; }
  .modal-success img {
    display: inline-block;
    width: 100%;
    max-width: 112px; }
  .modal-success h3 {
    margin-top: 25px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: .59px; }
  .modal-success p {
    margin: 15px auto 0;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: .3px;
    color: #5e657c; }

.modal-footer {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  padding: 15px 20px;
  background-color: #f7f9fb; }

.modal-footer-buttons {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .modal-footer-buttons .btn {
    width: 100%; }
    .modal-footer-buttons .btn.btn-half {
      width: calc(50% - 5px); }

header {
  position: relative;
  z-index: 1; }

.header-wrapper {
  width: 100%; }

.header-menubar {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px; }

.header-menu {
  width: 24px;
  height: 24px;
  flex: 0 0 24px; }

.header-menu-button {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .header-menu-button span {
    font-size: 18px;
    line-height: 1;
    color: #1e3277; }

.header-shortcut ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none; }
  .header-shortcut ul li {
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
    position: relative; }
    .header-shortcut ul li a {
      width: 100%;
      height: 100%;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header-shortcut ul li a span {
        line-height: 1;
        color: #1e3277; }
    .header-shortcut ul li .menu-notification {
      width: 12px;
      height: 12px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      top: -2px;
      left: -4px;
      background-color: #fb454d; }
    .header-shortcut ul li.message a span {
      font-size: 18px; }
    .header-shortcut ul li.setting a span {
      font-size: 19px; }
    .header-shortcut ul li + li {
      margin-left: 20px; }

.header-bar-title {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 160px;
  text-align: center; }
  .header-bar-title h1 {
    font-size: 15px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: .5px; }

.header-title {
  width: 100%;
  padding: 0 20px 10px; }
  .header-title h1 {
    font-size: 25px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 1.25px; }

footer {
  position: relative;
  z-index: 1; }

.mobile-menu {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #fff; }

.mobile-menu-container {
  height: 100%;
  overflow: auto; }

.mobile-menu-wrapper {
  position: relative;
  padding: 45px 0; }
  .mobile-menu-wrapper ul {
    list-style: none; }
    .mobile-menu-wrapper ul li {
      padding: 15px 0; }
      .mobile-menu-wrapper ul li a {
        display: block;
        padding: 0 30px; }
        .mobile-menu-wrapper ul li a span {
          display: inline-block;
          vertical-align: middle;
          font-size: 15px;
          line-height: 20px;
          color: #020715; }
          .mobile-menu-wrapper ul li a span:first-child {
            margin-right: 20px;
            font-size: 24px;
            line-height: 1;
            color: #5d6da5; }
        .mobile-menu-wrapper ul li a.menu-parent {
          position: relative;
          cursor: pointer; }
          .mobile-menu-wrapper ul li a.menu-parent.open:after {
            background-image: url("../icons/arrow-up.png"); }
          .mobile-menu-wrapper ul li a.menu-parent.open + ul {
            display: block; }
          .mobile-menu-wrapper ul li a.menu-parent:after {
            width: 13px;
            height: 13px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            content: '';
            top: 50%;
            right: 30px;
            position: absolute;
            background-image: url("../icons/arrow-down.png");
            background-repeat: no-repeat;
            background-size: 100%; }
          .mobile-menu-wrapper ul li a.menu-parent + ul {
            display: none;
            margin-top: 15px;
            padding: 15px 0;
            background-color: #f8fbfd; }
            .mobile-menu-wrapper ul li a.menu-parent + ul li {
              margin-left: 44px; }
              .mobile-menu-wrapper ul li a.menu-parent + ul li a {
                font-size: 15px;
                line-height: 20px;
                color: #020715; }
        .mobile-menu-wrapper ul li a.active span {
          color: #7c34f1; }

.menu-close {
  width: 24px;
  height: 24px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 22px;
  right: 20px;
  cursor: pointer; }
  .menu-close span {
    font-size: 12px;
    line-height: 1;
    color: #1e3277; }

.page-wrapper {
  position: relative;
  min-height: 100%;
  padding: 20px 0; }
  .page-wrapper .float-button {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    position: fixed;
    bottom: 20px;
    left: 50%;
    width: 100%;
    max-width: 480px; }
    .page-wrapper .float-button .btn {
      position: absolute;
      right: 20px;
      bottom: 0; }
  .page-wrapper.signup-wrapper {
    padding: 20px 0 90px; }
  .page-wrapper.setting-wrapper {
    padding: 0 0 90px; }
  .page-wrapper.proposal-wrapper {
    padding: 0 0 116px; }
  .page-wrapper.templates-wrapper {
    padding: 20px 0; }
  .page-wrapper.draft-wrapper {
    padding: 20px 0 116px; }

.page-header {
  position: relative;
  text-align: center; }
  .page-header h1 {
    font-size: 15px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: .5px; }

.page-close-button {
  width: 24px;
  height: 24px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer; }
  .page-close-button span {
    font-size: 12px;
    line-height: 1; }

.page-buttons {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  max-width: 480px;
  padding: 25px 0 20px; }
  .page-buttons .btn-half {
    width: calc(50% - 5px); }
  .page-buttons .btn-full {
    width: 100%; }
  .page-buttons.button-center {
    justify-content: center; }

.card {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center; }
  .card.dashboard-card {
    -webkit-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    -moz-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    -ms-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    -o-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    padding: 15px 20px;
    background-color: #fff; }
    .card.dashboard-card .card-image {
      width: 52px;
      flex: 0 0 52px; }
    .card.dashboard-card .card-detail {
      width: calc(100% - 72px);
      flex: 0 0 calc(100% - 72px); }
    .card.dashboard-card + .dashboard-card {
      margin-top: 15px; }
  .card.notification-card {
    padding: 15px 0; }
    .card.notification-card .card-image {
      width: 41px;
      flex: 0 0 41px; }
    .card.notification-card .card-detail {
      width: calc(100% - 61px);
      flex: 0 0 calc(100% - 61px); }
      .card.notification-card .card-detail p {
        margin-top: 5px; }
    .card.notification-card + .notification-card {
      border-top: 1px solid #d8dce8; }

.card-image {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: 50px;
  flex: 0 0 50px; }
  .card-image img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    width: 100%; }

.card-detail {
  width: calc(100% - 70px);
  flex: 0 0 calc(100% - 70px);
  margin-left: 20px; }
  .card-detail h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: .5px; }
  .card-detail p {
    margin-top: 8px;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: .3px;
    color: #6d789e; }

.menu-tabs-wrapper {
  padding: 0 20px;
  border-bottom: 1px solid #d8dce8; }
  .menu-tabs-wrapper ul {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    list-style: none; }
    .menu-tabs-wrapper ul li {
      width: 50%;
      flex: 0 0 50%; }
      .menu-tabs-wrapper ul li a {
        display: block;
        width: 100%;
        padding: 20px;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: .5px;
        text-align: center;
        color: #020715;
        border-bottom: 2px solid transparent; }
        .menu-tabs-wrapper ul li a.active {
          color: #7c34f1;
          border-bottom-color: #7c34f1; }
        .menu-tabs-wrapper ul li a:hover {
          opacity: .8; }

.entry-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 40px 0 85px; }

.entry-introduction {
  text-align: center; }
  .entry-introduction img {
    margin: 0; }
  .entry-introduction p {
    max-width: 230px;
    margin-top: 40px;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: .3px;
    color: #5e657c; }

.entry-buttons {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  max-width: 440px;
  padding: 20px 0; }
  .entry-buttons .btn {
    width: calc(50% - 5px); }

.signup-indicator {
  margin-top: 25px; }
  .signup-indicator ul {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    list-style: none; }
    .signup-indicator ul li {
      position: relative; }
      .signup-indicator ul li a {
        width: 32px;
        height: 32px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        display: block;
        padding: 8px 0;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: .43px;
        text-align: center;
        color: #7c34f1;
        border: 1px solid #7c34f1; }
      .signup-indicator ul li.active a {
        color: #fff;
        background-color: #7c34f1; }
      .signup-indicator ul li + li {
        margin-left: 38px; }
        .signup-indicator ul li + li:before {
          width: 26px;
          height: 1px;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          content: '';
          position: absolute;
          top: 50%;
          left: -32px;
          border-bottom: 1px dashed #7c34f1; }

.signup-title,
.contract-title {
  margin-top: 40px; }
  .signup-title h2,
  .contract-title h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: .8px;
    color: #6d789e; }

.contract-title {
  margin: 0; }

.signup-form {
  width: 100%;
  margin-top: 32px; }

.signup-profile {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 30px; }
  .signup-profile .profile-image {
    position: relative;
    width: 80px;
    flex: 0 0 80px;
    padding-top: 6px; }
    .signup-profile .profile-image img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      width: 100%;
      max-width: 80px; }
    .signup-profile .profile-image .profile-image-add {
      width: 35px;
      height: 35px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      -webkit-box-shadow: 0 4px 35px 0 rgba(131, 139, 163, 0.33);
      -moz-box-shadow: 0 4px 35px 0 rgba(131, 139, 163, 0.33);
      -ms-box-shadow: 0 4px 35px 0 rgba(131, 139, 163, 0.33);
      -o-box-shadow: 0 4px 35px 0 rgba(131, 139, 163, 0.33);
      box-shadow: 0 4px 35px 0 rgba(131, 139, 163, 0.33);
      position: absolute;
      top: -6px;
      right: -6px;
      padding: 5px;
      background-color: #fff; }
      .signup-profile .profile-image .profile-image-add span {
        font-size: 23px;
        line-height: 1;
        color: #1e3277; }
  .signup-profile .profile-detail {
    width: calc(100% - 115px);
    flex: 0 0 calc(100% - 115px); }
    .signup-profile .profile-detail h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: 27px;
      letter-spacing: 1px; }
    .signup-profile .profile-detail p {
      margin-top: 10px;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: .26px;
      color: #6d789e; }
    .signup-profile .profile-detail .btn {
      margin-top: 15px; }

.notification-wrapper {
  margin-top: 25px; }

.template-group {
  margin-top: 10px; }

.template-card {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  -moz-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  -ms-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  -o-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff; }
  .template-card h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: .5px; }
  .template-card + .template-card {
    margin-top: 15px; }

.tags-wrapper {
  margin-top: 20px; }

.tags-list {
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  display: inline-block;
  padding: 5px 5px 5px 15px;
  background-color: rgba(124, 52, 241, 0.1); }
  .tags-list p {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    line-break: 23px;
    letter-spacing: .5px;
    color: #7c34f1; }
  .tags-list .btn {
    display: inline-block;
    margin-left: 12px; }

.contract-card {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  -moz-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  -ms-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  -o-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff; }
  .contract-card h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: .5px; }
  .contract-card img {
    max-width: 24px; }
  .contract-card + .contract-card {
    margin-top: 15px; }

.new-contract-wrapper {
  -webkit-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  -moz-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  -ms-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  -o-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  position: relative;
  overflow: auto;
  height: auto;
  max-height: 400px;
  margin-top: 20px; }

.contract-accordion.open .contract-accordion-icon span {
  background-image: url("../icons/icon-minus.png"); }

.contract-accordion.open .contract-accordion-body {
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  -ms-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  transition: height 0.3s ease;
  visibility: visible;
  height: auto; }

.contract-accordion + .contract-accordion .contract-accordion-header:before {
  width: calc(100% - 40px);
  height: 1px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #eceef4; }

.contract-accordion-header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 15px 20px;
  background-color: #fff;
  cursor: pointer; }

.contract-accordion-info {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center; }
  .contract-accordion-info h3 {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: .5px; }
  .contract-accordion-info img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    max-width: 35px; }

.contract-accordion-icon {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center; }
  .contract-accordion-icon span {
    width: 11px;
    height: 11px;
    display: block;
    background-image: url("../icons/icon-plus.png");
    background-repeat: no-repeat;
    background-size: 11px auto;
    background-position: center; }

.contract-accordion-body {
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  -ms-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  transition: height 0.3s ease;
  position: relative;
  visibility: hidden;
  overflow: hidden;
  height: 0; }
  .contract-accordion-body:before {
    width: calc(100% - 40px);
    height: 1px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #eceef4; }

.new-contract-list ul {
  list-style: none; }
  .new-contract-list ul li {
    padding: 15px 20px 15px 65px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: .5px;
    cursor: pointer; }
    .new-contract-list ul li:nth-of-type(odd) {
      background-color: #fbfcff; }
    .new-contract-list ul li:nth-of-type(even) {
      background-color: #e4ebf5; }

.proposal-card {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  -moz-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  -ms-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  -o-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff; }
  .proposal-card.default .proposal-status span {
    color: #5d6da5; }
  .proposal-card.attention {
    background-color: #fbedf0; }
    .proposal-card.attention .proposal-info h3 {
      color: #f23c6d; }
    .proposal-card.attention .proposal-status span {
      color: #f23c6d; }
  .proposal-card + .proposal-card {
    margin-top: 15px; }

.proposal-info {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center; }
  .proposal-info h3 {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: .5px; }
  .proposal-info img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    max-width: 35px; }

.proposal-status {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center; }
  .proposal-status span {
    font-size: 20px;
    line-height: 1; }

.last-action {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  min-height: 60px; }
  .last-action.card {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    -moz-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    -ms-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    -o-box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    box-shadow: 0 10px 40px 0 rgba(151, 168, 179, 0.13);
    padding: 15px 20px;
    background-color: #fff; }
  .last-action.reverse {
    flex-direction: row-reverse; }
    .last-action.reverse .last-action-detail {
      margin-right: 15px;
      margin-left: 0;
      text-align: right; }
    .last-action.reverse .last-action-status {
      margin-right: 15px;
      margin-left: 0; }
  .last-action + .last-action {
    margin-top: 15px; }

.last-action-image {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: 35px;
  flex: 0 0 35px; }
  .last-action-image img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    max-width: 35px; }

.last-action-detail {
  width: calc(100% - 90px);
  flex: 0 0 calc(100% - 90px);
  margin-left: 20px; }
  .last-action-detail h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: .5px; }
  .last-action-detail p,
  .last-action-detail span {
    margin-top: 8px;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: .3px;
    color: #6d789e; }

.last-action-status {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: 25px;
  flex: 0 0 25px;
  margin-left: 15px; }
  .last-action-status span {
    font-size: 24px;
    line-height: 1;
    color: #5d6da5; }

.proposal-action-image {
  text-align: center; }
  .proposal-action-image h3 {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: .47px; }
  .proposal-action-image img {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
    max-width: 80px; }
