<ion-content padding>
  <div class="app">
    <div class="main-content full-content">
      <section class="page-section">
        <div class="container entry-container">
          <div class="entry-wrapper">
            <div class="entry-introduction"><img src="../../assets/images/logo.svg">
              <p>Introductory paragraph, which could be a slogan, tagline, or simple product
                statement.</p>
            </div>
          </div>
          <div class="entry-buttons">
            <a class="btn btn-grey js-modal" data-modal="modalLogin" href="/login">Login</a>
            <a class="btn btn-primary" href="/signup">Sign Up</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</ion-content>
