<ion-content>
  <!-- Begin: App -->

  <div id="app" [hidden]="step != 1">


    <header class="heading">
      <section>
        <div>
          <div>
            <h1>Signup Step #1</h1>
          </div>
        </div>
        <div>
                <span class="close">
                    <a href=""><i class="fas fa-times"></i></a>
                </span>
        </div>
      </section>
    </header>

    <!-- Begin: Main -->

    <main id="start">

      <section>
        <div>
          <form>
            <fieldset>
              <h4>Sign In Information</h4>
              <p>
                <label for="email">Email</label>
                <input [(ngModel)]="user_account.email" id="email" type="email" name="email">

              </p>
              <p>
                <label for="password">Password</label>
                <input [(ngModel)]="user_account.password" id="password" type="password" name="password">
              </p>
              <p>
                <label for="password">Password (again)</label>
                <input [(ngModel)]="user_account.verify_password" id="password" type="password" name="password">
              </p>

              <nav id="action">
                <ul>
                  <li class="new">
                    <a href="start">
                      <span><i class="fas fa-arrow-left"></i></span>
                      <span>Back</span>
                    </a>
                  </li>
                  <li class="new">
                    <button (click)="setStep(2)">
                      <span><i class="fas fa-arrow-right"></i></span>
                      <span>Next</span>
                    </button>
                  </li>
                </ul>
              </nav>
            </fieldset>
          </form>
        </div>
      </section>

    </main>

    <!--   End: Main -->



  </div>

  <!--   End: App -->

  <!-- Begin: App -->

  <div id="app" [hidden]="step != 2">

    <header class="heading">
      <section>
        <div>
          <div>
            <h1>Signup Step #2</h1>
          </div>
        </div>
        <div>
                <span class="close">
                    <a href=""><i class="fas fa-times"></i></a>
                </span>
        </div>
      </section>
    </header>

    <!-- Begin: Main -->

    <main>
      <form>
        <fieldset>
          <h4>Sign In Information</h4>
          <p>
            <label for="username">User Name</label>
            <input [(ngModel)]="user_account.username" id="username" type="text" name="username">

          </p>
          <p>
            <label for="legalname">Legal Name</label>
            <input [(ngModel)]="user_account.legal_name" id="legalname" type="text" name="legalname">

          </p>
          <p>
            <label for="language">Language</label>
            <select id="language">
              <option>Japanese</option>
              <option>Russian</option>
              <option>English</option>
            </select>
          </p>
          <p>
            <label for="country">Country</label>
            <select id="country">
              <option>Japan</option>
              <option>Ukraine</option>
              <option>United States</option>
            </select>
          </p>
          <p>
            <label for="timezone">Timezone</label>
            <select id="timezone">
              <option>Time 1</option>
              <option>Time 1</option>
              <option>Time 1</option>
            </select>
          </p>
          <nav id="action">
            <ul>
              <li class="new">
                <button (click)="setStep(1)">
                  <span><i class="fas fa-arrow-left"></i></span>
                  <span>Back</span>
                </button>
              </li>
              <li class="new">
                <button (click)="createUser()" href="signup-success">
                  <span><i class="fas fa-check"></i></span>
                  <span>Finish</span>
                </button>
              </li>
            </ul>
          </nav>
        </fieldset>
      </form>
    </main>

    <!--   End: Main -->



  </div>

  <!--   End: App -->

</ion-content>
