<ion-content padding>
	<div class="app">
		<div class="main-content full-content">
			<section class="page-section">
				<div class="container signup-container">
					<div class="page-wrapper signup-wrapper">
						<div class="page-header">
							<h1>Account Settings</h1>
							<div class="page-close-button"><span class="icon-menu-close"></span></div>
						</div>
						<div class="signup-indicator">
							<ul>
								<li class="active"><a href="/signup">1</a></li>
								<li><a href="/signup2">2</a></li>
							</ul>
						</div>
						<div class="signup-title">
							<h2>Authentication Information</h2>
						</div>
						<div class="signup-form">
							<div class="form-wrapper">
								<div class="form-group">
									<label>Email</label>
									<input class="form-control" type="text" placeholder="Enter your email address">
								</div>
								<div class="form-group">
									<label>Password</label>
									<input class="form-control" type="password" placeholder="Enter your password">
								</div>
								<div class="form-group">
									<label>Re-Password</label>
									<input class="form-control" type="password" placeholder="Enter your password">
								</div>
							</div>
						</div>
						<div class="page-buttons">
							<button class="btn btn-grey btn-half">Cancel</button>
							<button class="btn btn-primary btn-half">Next</button>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</ion-content>
