<ion-content>
  <!-- Begin: App -->

  <div id="app" [hidden]="viewMode != 1">


    <header class="heading">
      <section>
        <div>
          <div>
            <h1>Signup Step #1</h1>
          </div>
        </div>
        <div>
          <span class="close">
              <a href="start"><i class="fas fa-times"></i></a>
          </span>
        </div>
      </section>
    </header>

    <!-- Begin: Main -->

    <main id="start">

      <section>
        <div>
          <form>
            <fieldset>
              <h4>Sign In Information</h4>
              <p>
                <label for="email">Email</label>
                <input [(ngModel)]="account.auth.email" id="email" type="email" name="email">

              </p>
              <p>
                <label for="password">Password</label>
                <input [(ngModel)]="account.auth.password" id="password" type="password" name="password">
              </p>
              <p>
                <label for="password">Password (again)</label>
                <input [(ngModel)]="verify_password" id="password" type="password" name="password">
              </p>

              <nav class="action">
                <ul>
                  <li class="d">
                    <a href="start">
                      <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                          <g class="c">
                            <circle cx="40" cy="40" r="29.5"/>
                          </g>
                          <g class="i">
                            <line class="l" x1="52" y1="40" x2="28" y2="40"/>
                            <polyline class="l" points="40,52 28,40 40,28"/>
                          </g>
                        </svg>
                      </span>
                      <span>Back</span>
                    </a>
                  </li>
                  <li class="g">
                    <button (click)="setViewMode(2)">
                      <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                          <g class="c">
                            <circle cx="40" cy="40" r="29.5"/>
                          </g>
                          <g class="i">
                        	  <line class="l" x1="28" y1="40" x2="52" y2="40"/>
	                          <polyline class="l" points="40,28 52,40 40,52"/>
                          </g>
                        </svg>
                      </span>
                      <span>Next</span>
                    </button>
                  </li>
                </ul>
              </nav>
            </fieldset>
          </form>
        </div>
      </section>

    </main>

    <!--   End: Main -->

  </div>

  <!--   End: App -->

  <!-- Begin: App -->

  <div id="app" [hidden]="viewMode != 2">

    <header class="heading">
      <section>
        <div>
          <div>
            <h1>Signup Step #2</h1>
          </div>
        </div>
        <div>
          <span class="close">
              <a href=""><i class="fas fa-times"></i></a>
          </span>
        </div>
      </section>
    </header>

    <!-- Begin: Main -->

    <main>
      <form>
        <fieldset>
          <h4>Sign In Information</h4>
          <p>
            <label for="username">Username</label>
            <input [(ngModel)]="account.user.username" id="username" type="text" name="username">

          </p>
          <p>
            <label for="legalname">Legal Name</label>
            <input [(ngModel)]="account.user.legal_name" id="legalname" type="text" name="legalname">

          </p>
          <p>
            <label for="language">Language</label>
            <select id="language">
              <option>Japanese</option>
              <option>Russian</option>
              <option>English</option>
            </select>
          </p>
          <p>
            <label for="country">Country</label>
            <select id="country">
              <option>Japan</option>
              <option>Ukraine</option>
              <option>United States</option>
            </select>
          </p>
          <p>
            <label for="timezone">Timezone</label>
            <select id="timezone">
              <option>Time 1</option>
              <option>Time 1</option>
              <option>Time 1</option>
            </select>
          </p>
          <nav class="action">
            <ul>
              <li class="d">
                <button (click)="setViewMode(1)">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                      <g class="c">
                        <circle cx="40" cy="40" r="29.5"/>
                      </g>
                      <g class="i">
                        <line class="l" x1="52" y1="40" x2="28" y2="40"/>
                        <polyline class="l" points="40,52 28,40 40,28"/>
                      </g>
                    </svg>
                  </span>
                  <span>Back</span>
                </button>
              </li>
              <li class="g">
                <button (click)="createUser()" href="signup-success">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                      <g class="c">
                        <circle cx="40" cy="40" r="29.5"/>
                      </g>
                      <g class="i">
                        <path class="l" d="M54 32.04L35.38 50.66 27 42.29"/>
                      </g>
                    </svg>
                  </span>
                  <span>Finish</span>
                </button>
              </li>
            </ul>
          </nav>
        </fieldset>
      </form>
    </main>

    <!--   End: Main -->

  </div>

  <!--   End: App -->

</ion-content>
