<ion-content>
  <div id="app">

    <!-- Begin: Header -->

    <!-- proposals.html -->
    <header [hidden]="viewMode != 1">
      <section id="top">
        <div>
          <section>
            <nav>
              <ul>
                <li><a href="menu" class="js-mobile-menu"><i class="fas fa-bars"></i></a></li>
                <li><a href="dashboard"><i class="fas fa-home"></i></a></li>
              </ul>
            </nav>
          </section>
        </div>
        <div>
          <div>
            <img src="./assets/images/logo.png" alt="Atticus" style="height: 2rem;">
          </div>
        </div>
        <div>
          <section>
            <nav>
              <ul>
                <li><a href="notifications"><i class="far fa-envelope"></i></a></li>
                <li><a href="settings"><i class="fas fa-cog"></i></a></li>
              </ul>
            </nav>
          </section>
        </div>
      </section>

      <section>
        <nav id="main">
          <ul>
            <li>
              <a href="templates">
                <span>{{account.templates.length}}</span>
                <span><i class="fas fa-file-alt"></i></span>
                <span>Templates</span>
              </a>
            </li>
            <li>
              <a href="drafts">
                <span>{{account.drafts.length}}</span>
                <span><i class="fas fa-file"></i></span>
                <span>Drafts</span>
              </a>
            </li>
            <li>
              <a href="proposals" class="active">
                <span>{{account.proposals.length}}</span>
                <span><i class="far fa-file"></i></span>
                <span>Proposals</span>
              </a>
            </li>
            <li>
              <a href="contracts">
                <span>0</span>
                <span><i class="far fa-file-alt"></i></span>
                <span>Contracts</span>
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </header>
    <!-- proposals.html -->

    <!-- proposals-new.html -->
    <header class="heading" [hidden]="viewMode != 4">
      <section>
        <div>
          <div>
            <h1><a href="proposals">Proposals</a> <i class="fas fa-angle-right"></i> New Proposal</h1>
          </div>
        </div>
        <div>
          <span class="close">
            <a href="proposals"><i class="fas fa-times"></i></a>
          </span>
        </div>
      </section>
    </header>
    <!-- proposals-new.html -->


    <!--   End: Header -->
    <!-- Begin: Main -->

    <main>

      <!-- Begin: Intro -->

      <section id="proposals" class="list stack" [hidden]="viewMode != 1">
        <div>
          <div id="accordion">
            <div class="tab">
              <h3 *ngFor="let proposal of proposals; let i = index" [attr.data-index]="i">
                <a href="deal"><img src="./assets/images/profile-nick.png"> {{proposal.title}}</a>
              </h3>
            </div>
          </div>
        </div>
      </section>

      <section id="edit" [hidden]="viewMode == 1">
        <div>
          <form>
            <fieldset>
              <h4>Proposal Info</h4>
              <p>
                <label for="name">Proposal Name</label>
                <input id="name" type="text" placeholder="" value="">
              </p>
              <p>
                <label for="text">Proposal Text</label>
                <textarea id="text"></textarea>
              </p>
            </fieldset>
          </form>
        </div>
      </section>

    </main>

    <!--   End: Main -->
    <!-- Begin: Footer -->

    <footer>
      <nav id="action">
        <ul>
          <li class="new">
            <button (click)="viewMode = 4" class="active">
              <span><i class="fas fa-plus"></i></span>
              <span>New</span>
            </button>
          </li>
        </ul>
      </nav>
    </footer>

    <!--   End: Footer -->

  </div>
</ion-content>
