<ion-content>
  <div id="app">

    <!-- Begin: Header -->

    <header class="heading tabbed">
      <section>
        <div>
          <div>
            <h1><a href="proposals">Proposals</a> <i class="fas fa-angle-right"></i> {{deal.title}}</h1>
          </div>
        </div>
        <div>
          <span class="close">
              <a href="proposals"><i class="fas fa-times"></i></a>
          </span>
        </div>
      </section>

      <section>
        <nav class="tabs">
          <ul>
            <li><a href="proposal-status-alt" class="active">Status</a></li>
            <li><a href="proposal-timeline">Timeline</a></li>
            <li><a href="proposal-terms">Terms</a></li>
            <!--<li><a href="proposal-messages">Messages</a></li>-->
          </ul>
        </nav>
      </section>
    </header>

    <!--   End: Header -->
    <!-- Begin: Main -->

    <main>
      <section id="edit" [hidden]="viewMode == 4">
        <div>
          <section id="timeline">
            <div>
              <section>
                <div>
                  <p><img src="./assets/images/users/{{_contracter_id}}.png"></p>
                </div>
                <div>
                  <h3>Proposal</h3>
                  <p></p>
                  <!--<p><i class="far fa-calendar-alt"></i> {{1288323623006 | date:'medium'}}   26 October 2018 - 7:03 AM (CST) - 1 day ago</p>-->
                </div>
              </section>
            </div>
          </section>
          <section id="status">
            <div>
              <section>
                <div>
                  <figure><img src="./assets/images/users/{{_account_id}}.png"></figure>
                  <h3><strong>Action Required</strong></h3>
                </div>
              </section>
              <section>
                <nav class="action">
                  <ul>
                    <li class="g">
                      <button (click)="sign()">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                              <g class="c">
                                <circle cx="40" cy="40" r="29.5"/>
                              </g>
                              <g class="i">
                                <path class="l" d="M51.37,32.51L33.8,50.08l-6.97,2.53l2.53-6.97l17.57-17.57L51.37,32.51z"/>
                                <path class="l" d="M49.52,27.49l-1.59,1.59l2.43,2.43l1.59-1.59c0.78-0.78,1.44-1.38,1-1.83l-1.61-1.61
                                C50.89,26.03,50.31,26.71,49.52,27.49z"/>
                                <line class="l" x1="29.37" y1="45.65" x2="33.8" y2="50.08"/>
                                <path class="l" d="M43.39,45.53l7.59-7.59c0.78-0.78,1.44-1.38,1-1.83l-1.61-1.61"/>
                              </g>
                            </svg>
                        </span>
                        <span>Sign</span>
                      </button>
                    </li>
                    <li class="r">
                      <button (click)="viewMode = 3">
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                            <g class="c">
                              <circle cx="40" cy="40" r="29.5"/>
                            </g>
                            <g class="i">
                              <path class="l" d="M52 28L28 52"/>
                              <path class="l" d="M28 28l24 24"/>
                            </g>
                          </svg>
                        </span>
                        <span>Decline</span>
                      </button>
                    </li>
                    <li class="b">
                      <button (click)="openCounter()">
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                            <g class="c">
                              <circle cx="40" cy="40" r="29.5"/>
                            </g>
                            <g class="i">
                              <polyline class="l" points="46.82,25 52.27,30.45 46.82,35.91"/>
                              <path class="l" d="M27.73,35.91c0-3.01,2.44-5.45,5.45-5.45h19.09"/>
                              <polyline class="l" points="33.18,55 27.73,49.55 33.18,44.09"/>
                              <path class="l" d="M52.27,44.09c0,3.01-2.44,5.45-5.45,5.45H27.73"/>
                            </g>
                          </svg>
                        </span>
                        <span>Counter</span>
                      </button>
                    </li>
                  </ul>
                </nav>
              </section>
            </div>
          </section>
        </div>
      </section>

      <section id="edit" [hidden]="viewMode == 1">
        <div>
          <section id="timeline">
            <div>
              <section>
                <div>
                  <p><img src="./assets/images/users/{{_contracter_id}}.png"></p>
                </div>
              </section>
              <section>
                <div>
                  <p><img src="./assets/images/users/{{_account_id}}.png"></p>
                </div>
                <div>
                  <h3>Counter Proposal</h3>
                </div>
              </section>
              <form>
                <fieldset>
                  <h4>Counter</h4>
                  <p>
                    <label for="name">Memo</label>
                    <input [(ngModel)]="counterContract.memo" id="name" type="text" placeholder="Enter text" name="name">
                  </p>
                  <p>
                    <label for="text">Terms</label>
                    <textarea [(ngModel)]="counterContract.body" id="text" name="text"></textarea>
                  </p>
                </fieldset>
              </form>

              <section>
                <nav class="action">
                  <ul>
                    <li class="d">
                      <button (click)="viewMode = 1">
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                            <g class="c">
                              <circle cx="40" cy="40" r="29.5"/>
                            </g>
                            <g class="i">
                              <line class="l" x1="52" y1="40" x2="28" y2="40"/>
                              <polyline class="l" points="40,52 28,40 40,28"/>
                            </g>
                          </svg>
                        </span>
                        <span>Back</span>
                      </button>
                    </li>
                    <li class="b">
                      <button (click)="sendCounter()">
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                            <g class="c">
                              <circle cx="40" cy="40" r="29.5"/>
                            </g>
                            <g class="i">
                              <polyline class="l" points="46.82,25 52.27,30.45 46.82,35.91"/>
                              <path class="l" d="M27.73,35.91c0-3.01,2.44-5.45,5.45-5.45h19.09"/>
                              <polyline class="l" points="33.18,55 27.73,49.55 33.18,44.09"/>
                              <path class="l" d="M52.27,44.09c0,3.01-2.44,5.45-5.45,5.45H27.73"/>
                            </g>
                          </svg>
                        </span>
                        <span>Counter</span>
                      </button>
                    </li>
                  </ul>
                </nav>
              </section>
            </div>
          </section>
        </div>
      </section>

    </main>

  <!--   End: Main -->

    <div id="modal" class="alert" [hidden]="viewMode != 2">
      <section>
        <div>
          <div>
            <h1>You Have A Deal!</h1>
            <p>{{deal.title}}</p>
            <p>A notification has been sent to {{getDealSecondPartyName()}}. Your contract is in effect.</p>
          </div>
          <section>
            <nav class="action">
              <ul>
                <li class="g">
                  <a href="contracts">
                    <span>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                        <g class="c">
                          <circle cx="40" cy="40" r="29.5"/>
                        </g>
                        <g class="i">
                          <path class="l" d="M54 32.04L35.38 50.66 27 42.29"/>
                        </g>
                      </svg>
                    </span>
                    <span>OK</span>
                  </a>
                </li>
              </ul>
            </nav>
          </section>
        </div>
      </section>
    </div>

    <div id="modal" class="alert" [hidden]="viewMode != 3">
      <section>
        <div>
          <div>
            <h1>Counter Proposal Declined</h1>
            <p>{{deal.title}}</p>
            <p>A notification has been sent to {{getDealSecondPartyName()}}.</p>
          </div>
          <section>
            <nav class="action">
              <ul>
                <li class="g">
                  <a href="proposals">
                    <span>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                        <g class="c">
                          <circle cx="40" cy="40" r="29.5"/>
                        </g>
                        <g class="i">
                          <path class="l" d="M54 32.04L35.38 50.66 27 42.29"/>
                        </g>
                      </svg>
                    </span>
                    <span>OK</span>
                  </a>
                </li>
              </ul>
            </nav>
          </section>
        </div>
      </section>
    </div>

    <div id="modal" class="alert" [hidden]="viewMode != 5">
      <section>
        <div>
          <div>
            <h1>Counter Proposal Sent!</h1>
            <p>{{deal.title}}</p>
            <p>A notification has been sent to {{getDealSecondPartyName()}}.</p>
          </div>
          <section>
            <nav class="action">
              <ul>
                <li class="g">
                  <a href="proposals">
                    <span>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                        <g class="c">
                          <circle cx="40" cy="40" r="29.5"/>
                        </g>
                        <g class="i">
                          <path class="l" d="M54 32.04L35.38 50.66 27 42.29"/>
                        </g>
                      </svg>
                    </span>
                    <span>OK</span>
                  </a>
                </li>
              </ul>
            </nav>
          </section>
        </div>
      </section>
    </div>

  </div>

  <!--   End: App -->

</ion-content>
