<ion-content>
  <div id="app">

    <!-- Begin: Header -->

    <header class="heading tabbed">
      <section>
        <div>
          <div>
            <h1><a href="proposals">Proposals</a> <i class="fas fa-angle-right"></i> {{deal.title}}</h1>
          </div>
        </div>
        <div>
          <span class="close">
              <a href="proposals"><i class="fas fa-times"></i></a>
          </span>
        </div>
      </section>

      <section>
        <nav class="tabs">
          <ul>
            <li><a href="proposal-status-alt" class="active">Status</a></li>
            <li><a href="proposal-timeline">Timeline</a></li>
            <li><a href="proposal-terms">Terms</a></li>
            <li><a href="proposal-messages">Messages</a></li>
          </ul>
        </nav>
      </section>
    </header>

    <!--   End: Header -->
    <!-- Begin: Main -->

    <main>
      <section id="edit">
        <div>
          <section id="timeline">
            <div>
              <section>
                <div>
                  <p><img src="./assets/images/profile-craig.png"></p>
                </div>
                <div>
                  <h3>Counter Proposal</h3>
                  <p>Let's be realistic here... Who else is going to ever make an offer like this. Just man up, Sam.</p>
                  <p>Terms: $5,000,000 USD</p>
                  <p><i class="far fa-calendar-alt"></i> 26 October 2018 - 7:03 AM (CST) - 1 day ago</p>
                </div>
              </section>
            </div>
          </section>
          <section id="status">
            <div>
              <section>
                <div>
                  <figure><img src="./assets/images/profile-sam-lg.png"></figure>
                  <h3><strong>Action Required</strong></h3>
                  <p>{{(deal.secondPatry||{}).name}}</p>
                </div>
              </section>
              <section>
                <nav id="action">
                  <ul>
                    <li class="sign">
                      <a href="proposal-deal">
                        <span><i class="fas fa-pen"></i></span>
                        <span>Sign</span>
                      </a>
                    </li>
                    <li class="decline">
                      <a href="proposal-decline">
                        <span><i class="fas fa-times"></i></span>
                        <span>Decline</span>
                      </a>
                    </li>
                    <li class="counter">
                      <a href="proposal-counter-success">
                        <span><i class="fas fa-sync-alt"></i></span>
                        <span>Counter</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </section>
            </div>
          </section>
        </div>
      </section>
    </main>

  </div>

</ion-content>
